@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPagina>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{	Layout = "Master.cshtml";
                        
}
<!-- Grid -->
<div class="hk_grid">
@Html.GetGridHtml(Model.Content, "grid")
</div>
<!-- /Grid -->

@section Breadcrumbs {

    @{
       <style>
           .Catalog .first-bc {
               display:none;
           }

       </style>
            <div class="hk_breadcrumb">
                <div class="">
                    <div class="row">
                        <div class="col-xl-12">
                            <ol class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                    <li class="first-bc">
                                        <a href="@CurrentPage.Parent.Url" class="hk_link_@CurrentPage.Parent.Name">@CurrentPage.Parent.Name </a>
                                    </li>
                                    <li>
                                        <a href="@CurrentPage.Url" class="hk_link_@CurrentPage.Name">@CurrentPage.Name </a>
                                    </li>
</ol>
                    </div>
                </div>
            </div>
        </div>  
        
                                
        
    }


}


@section Scripts {
<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
}