@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtCatalog>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web
@using Merchello.Web.Models
@using Merchello.Web.Models.Ui.Rendering
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";

	//http://projecten.vwa.nu:888/redmine/issues/5316
	// Remember this page for basket return button
	Session["lastcollectionId"] = UmbracoContext.Current.PageId;

	//var title = Model.Categories == null ? Model.Name : Model.Categories.Name;
	var categories = Model.Categories != null ? Model.Categories.Children().ToArray() : Enumerable.Empty<IProductCollection>();
}

@*
    @Html.Partial("_Headline")
*@

@**
            <div class="container-fluid hk_collections hk_catalog">
                <div class="row">
                    <div class="col-3 col-xl-3 col-md-3">
                        @Html.GetGridHtml(Umbraco.TypedContent(1099), "collectionGridTop")
                    </div>
                </div>
            </div>
*@
            <div class="container-fluid hk_collections hk_category hk_catalog">
                <div class="row">
                    <div class="col-4 col-xl-3 col-md-3">
                        @*@Html.Partial("hkSearch")
                        @RenderSearchForm(paging)*@
                        <form action="/collections/@Umbraco.TypedContent(1119).Name.Replace(" " ,"-" )" class="form-inline search" id="hk_search-input" method="get" novalidate="novalidate" style="border-bottom: solid 1px #e9e9e9;">

                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" id="etc-search-term" value="" name="q">
                        <span class="input-group-addon">
                            <button class="" type="submit"><i class="glyphicon fa fa-search "></i></button>
                        </span>
                    </div>
                </div>


                
            </form>
                        @Html.Partial("hkCategories")
                    </div>
                    <div class="col-8 col-xl-9 col-md-9">

                        @*  @Html.GetGridHtml(Umbraco.TypedContent(1099), "catalogGrid") *@
                        @Html.GetGridHtml(Umbraco.TypedContent(1099), "collectionGridTop")

                        @* @foreach (var cat in categories.OrderBy(x => x.Name))
                            {
                                <div>
                                    @CategoryLink(cat)
                                    <div class="row">
                                        @foreach (var p in cat.GetProducts(1,0))
                                        {
                                            <div class="col-3 col-md-3">
                                                @Html.Partial("_ProductBox", p)
                                            </div>
                                        }
                                    </div>
                                </div>
                            }*@
                    </div>
                </div>


                @helper CategoryLink(IProductCollection category)
        {
if (category.Key != Guid.Empty)
{
    var page = ExampleUiHelper.Content.GetCategoryPageForCollection(category.Key);
    if (page != null)
    {
            <h3><a href="@page.Url">@category.Name</a></h3>
    }
    else
    {
            <h3>@category.Name</h3>
    }

}
else
{
        <h4>@category.Name</h4>
}
}



                @section Scripts {

                <script src="~/Scripts/lity/lity.min.js" type="text/javascript" charset="utf-8"></script>
                <script src="https://sachinchoolur.github.io/lightslider/src/js/lightslider.js"></script>

                <script>
				$('.hk_media_display_list').each(function (i, e) {
					var id = 'adaptive';
					$(e).attr('id', id + i);
					var selector = '#' + id + i;
					$(selector).lightSlider({
						autoWidth: false,
						loop: true,
						keyPress: true
					});
				});

                </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lightgallery-all.min.js"></script>
                <script type="text/javascript">
				jQuery(document).ready(function () {
					window.prettyPrint && prettyPrint();
					jQuery('#image-gallery').lightSlider({
						gallery: true,
						item: 1,
						loop: true,
						thumbItem: 9,
						slideMargin: 0,
						enableDrag: false,
						currentPagerPosition: 'left',
						onSliderLoad: function (el) {
							el.lightGallery({
								selector: '#image-gallery .lslide'
							});
						}
					});
				});
                </script>


                }

@section Breadcrumbs {

    @{
       
    
				@Html.Partial("Breadcrumb")
        
    }


}