@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core
@using ClientDependency.Core.Mvc;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
	Layout = null;
	ContentModels.HomePagina HomePagina = Model.Content.Site() as ContentModels.HomePagina;
	var metaDescription = Umbraco.Field("descriptionMain") + " " + Umbraco.Field("metaDescription") + " " + RenderSection("ProductDescription", false);
	metaDescription = library.StripHtml(metaDescription).Trim();
}
<!DOCTYPE html>
<html lang="nl-nl">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PX69JT5');</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="@metaDescription">
	<meta name="keywords" content="@Umbraco.Field("metaKeywords")">
	<meta name="author" content="">
	<meta name="date" content="@System.DateTime.UtcNow.ToLongTimeString()">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<title>@Umbraco.Field("titleMain") @Umbraco.Field("pageTitle") @RenderSection("ProductTitle", false)</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	@*
		css niet nodig (voorlopig)

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<!-- Custom styles for this template -->
		<!-- Google fonts - Playfair Display-->

		<link rel="stylesheet" href="/scripts/css/image-map-pro.min.css">
		<link rel="stylesheet" type="text/css"  href="~/Css/slider-menu.css">
		<link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
		css als requirescss ingeladen
		todo : uitzoeken wat weg kan / ingeladen kan worden per view.

		<link href="~/Css/jquery-eu-cookie-law-popup.css" rel="stylesheet">
		<link href="~/Styles/css/bootstrap-theme.css" rel="stylesheet">
		<link rel="stylesheet" href="~/App_Plugins/Merchello/client/css/merchello.ui.min.css" />
		<link rel="stylesheet" type="text/css" href="~/Css/vwa_hk.css">
		<link rel="stylesheet" type="text/css" href="~/Css/vwa_style.css">
		<link rel="stylesheet" type="text/css" href="~/Css/vwa_nav.css">
		<link rel="stylesheet" type="text/css" href="~/Css/vwa_catalog.css">
		<link rel="stylesheet" type="text/css" href="~/Css/vwa_account.css">
		<link rel="stylesheet" type="text/css" href="~/Css/editor.css">
		<link rel="stylesheet" type="text/css" href="~/Css/vwa_media.css">
		<link rel="stylesheet" type="text/css" href="~/Css/sliders/lightslider.css">
		<link rel="stylesheet" type="text/css" href="~/Css/sliders/lightgallery.css">
		<link rel="stylesheet" type="text/css" href="~/Css/lity/lity.min.css">
		<script src="/scripts/ie-emulation-modes-warning.js"></script>
	*@
	@{
		Html.RequiresCss("~/Css/jquery-eu-cookie-law-popup.css",1);
		Html.RequiresCss("~/Styles/css/bootstrap-theme.css",2);
		Html.RequiresCss("~/App_Plugins/Merchello/client/css/merchello.ui.min.css",3);
		Html.RequiresCss("~/Css/vwa_hk.css",4);
		Html.RequiresCss("~/Css/vwa_style.css",5);
		Html.RequiresCss("~/Css/vwa_nav.css",6);
		Html.RequiresCss("~/Css/vwa_catalog.css",7);
		Html.RequiresCss("~/Css/vwa_account.css",8);
		Html.RequiresCss("~/Css/editor.css",9);
		Html.RequiresCss("~/Css/vwa_media.css",10);
		Html.RequiresCss("~/Css/sliders/lightslider.css",11);
		Html.RequiresCss("~/Css/sliders/lightgallery.css",12);
		Html.RequiresCss("~/Css/lity/lity.min.css",13);
		Html.RequiresCss("~/Css/vwa_search.css",14);
	}@* Render script in the view *@
	@RenderSection("StyleSheets", false)
	@* Render the compressed css here *@
	@Html.RenderCssHere()
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="@CurrentPage.Name @Html.Partial("Cookies")">
	<header class="header header-absolute">
		<!-- Navbar-->
		@Html.Partial("MainNavigation")
		<!-- /Navbar -->
		<!-- Fullscreen search area-->
		<div class="search-area-wrapper">
			<div class="search-area d-flex align-items-center justify-content-center">
				<div class="close-btn">
					<svg class="svg-icon svg-icon-light w-3rem h-3rem">

						<i class="fas fa-times-circle"></i>
					</svg>
				</div>
				<form action="/collections/@Umbraco.TypedContent(1119).Name.Replace(" ", "-")/" method="GET" class="search-area-form">
					<div class="form-group position-relative">
						<input type="text" name="q" id="q" placeholder="I'm looking for?" class="search-area-input">
						<button type="submit" class="search-area-button">
							<svg class="svg-icon">
								<use xlink:href="#q-1"> </use>
							</svg>
						</button>
					</div>
				</form>
			</div>
		</div>
		<!-- /Fullscreen search area-->
	</header>
	@{
		if (CurrentPage.Id == 3885)
		{
			<div class="container-fluid hk_header_slider">
				<div class="row">
					<!-- Grid -->
					@Html.GetGridHtml(Model.Content, "headerGrid")
					<!-- /Grid -->
				</div>
			</div>
		}
		else { }
	}
	<div class="container_wrapper hk_content hk_@CurrentPage.Name" id="hk_@CurrentPage.Name">
		@{
			if (CurrentPage.Id == 3885) { }
			else
			{
				<div class="container">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<div class="hk_category_name_list hk_highlighted">
								<h1 class="hk_category_name"><span>@CurrentPage.Name</span></h1>
								@*@Html.Partial("hkFeaturedLbl")*@
							</div>
						</div>
					</div>
				</div>}
		}
		<div class="container">
			<div class="row">
				@RenderSection("Breadcrumbs", false)
				@RenderBody()
			</div>
		</div>
	</div>


	<!-- Grid
		todo: Check if currentpage has gridFooter, if not use fallback value of content node 3885
	 -->
	<footer class="footer">@Html.GetGridHtml(Umbraco.TypedContent(3885), "gridFooter")</footer>
	<div id="scrollTop"><i class="fas fa-long-arrow-alt-up"></i></div>

	<!-- /Grid -->
	<!-- Bootstrap core JavaScript
	================================================== -->
	@{
		Html.RequiresJs("~/Scripts/jquery-eu-cookie-law-popup.js?cdv=1765341850",1);
		Html.RequiresJs("~/Scripts/bootstrap.min.js",2);
		//  Custom JS functions
		Html.RequiresJs("~/Scripts/vwa_functions.js",3);
		Html.RequiresJs("~/Scripts/underscore.min.js",4);
		Html.RequiresJs("~/App_Plugins/Merchello/client/js/merchello.ui.min.js",5);
		Html.RequiresJs("~/App_Plugins/Merchello/client/js/merchello.ui.settings.js",6);
		Html.RequiresJs("~/App_Plugins/Merchello/client/js/fasttrack.js",7);
	}
	@*
			<script src="~/Scripts/jquery-eu-cookie-law-popup.js?cdv=1765341850" type="text/javascript"></script>
			<script src="~/Scripts/bootstrap.min.js"></script>
			<script src="~/Scripts/vwa_functions.js"></script>

		<!-- new Merchello UI scripts // alway at the bottom!! -->
		<script src="~/App_Plugins/Merchello/client/js/merchello.ui.min.js"></script>
		<script src="~/App_Plugins/Merchello/client/js/merchello.ui.settings.js"></script>
		<script src="~/App_Plugins/Merchello/client/js/fasttrack.js"></script>
		<script src="~/Scripts/underscore.min.js"></script>
	*@
	@*
		HS: Onderstaand is volgens mij overbodig...

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
		<script type="text/javascript" src="/scripts/js/image-map-pro.js"></script>
	*@

	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://d19m59y37dris4.cloudfront.net/sell/1-1-0/vendor/jquery.cookie/jquery.cookie.js"></script>
	<script src="https://d19m59y37dris4.cloudfront.net/sell/1-1-0/vendor/nouislider/nouislider.min.js"></script>
	<script src="https://d19m59y37dris4.cloudfront.net/sell/1-1-0/vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>

	@RenderSection("Scripts", false)
	@Html.RenderJsHere()
</body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PX69JT5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

</html>