@inherits Umbraco.Web.Mvc.UmbracoViewPage<IEnumerable<Merchello.Core.Models.IAddress>>
@{

    int index = 0;
}
    <div>
        <select name="ShippingAddressIndex">
            @foreach (var address in Model)
            {
                index++;
                <option value="@index" class="options" id="@(index)">
                    <div class="row">
                        <span class="p-org paddings-shipping"> @(address.Organization)</span> |
                        <span class="p-street-address paddings-shipping"> @address.Address1 @address.Address2</span>  |
                        @if (!address.Address2.IsNullOrWhiteSpace())
                        {<span></span>}

                        @if (!address.Region.IsNullOrWhiteSpace())
                        {<span class="p-street-address paddings-shipping">@address.Region</span>}

                        @if (!address.PostalCode.IsNullOrWhiteSpace())
                        {<span class="p-postal-code paddings-shipping">@address.PostalCode @address.Locality</span>}
                    </div>
                </option>
            }
        </select>
    </div>