@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@{
	// 1099 is the categorie content node

	////  @foreach (var item in Model.Content.Descendants().Where(x = x.TemplateId > 0))
	var Collections = Umbraco.TypedContent(1099);
	var AllCategories = Collections.Descendants().Where(x => x.IsVisible());
	var featured = AllCategories.Where(x => x.GetPropertyValue<bool>("onlyFeaturedCategory", true));
	var categories = AllCategories.Where(x => !x.GetPropertyValue<bool>("onlyFeaturedCategory", true) || x.GetPropertyValue<bool>("alsoDefaultCategory", true));
}


@*<div>

	// NIels: Deze is aangepast doordat de indeling anders werd (Living, Dining etc.).

		@if (categories.Count() > 0)
		{
			<h3><a href="/">Categories</a></h3>

			<ul class="hk_categories_list">
				@foreach (var item in categories)
				{
					@RenderLink(item)
				}
			</ul>
		}
	</div>*@
<style>
	.Collections #hk_search-input input {
		max-width: 160px !important;
	}

	.Collections #hk_search-input {
		margin: 0;
		width: 160px;
	}
</style>
<div class="hk_featured_cat hk_landingspage_cat">
	<ul class="hk_categories_list parent_list">
		<li><a class="cat-link " href="/collections/all-products/">All products</a></li>
	</ul>
	
		<ul class="hk_categories_list parent_list">
			<li><a class="cat-link " href="/collections/pre-sale-additions/">Pre sale additions</a></li>
		</ul>

	@*@if (Members.IsLoggedIn())
	{
	
		<ul class="hk_categories_list parent_list">
			<li><a class="cat-link " href="/collections/pre-sale-additions/">Pre sale additions</a></li>
		</ul>
	
	}*@
	
	<ul class="hk_categories_list parent_list">
		<li><a class="cat-link " href="/collections/new-collection/">New collection</a></li>
	</ul>

</div>

@{
	var arrivalsItem = Umbraco.TypedContent(1099).Children()
						.FirstOrDefault(x => x.IsVisible() && x.Name.Contains("Fresh") && Umbraco.MemberHasAccess(x.Path));

	if (arrivalsItem != null)
	{
		<div class="hk_arrivals-items">
			<style>
				.list_icon i,
				.list_icon li {
					position: relative;
					display: inline-block;
					float: left;
				}

				.list_icon li {
					width: 100% !important;
				}

				.list_icon i {
					font-size: 11px;
					opacity: 0.6;
					line-height: 53px;
					display: inline-block;
					z-index: 999;
					position: relative;
					padding: 0px 0px 0px 10px;
					margin: 0px 0px 0px -30px;
				}
				/**/
			</style>
			<ul class="hk_categories_list parent_list list_icon">
				@RenderLink(arrivalsItem)
			</ul>
		</div>
		}
	}



@{
	var nextItem = Umbraco.TypedContent(1099).Children()
						.FirstOrDefault(x => x.IsVisible() && x.Name.Contains("NEXT") && Umbraco.MemberHasAccess(x.Path));

	if (nextItem != null)
	{
		<div class="hk_next-items">
			<style>
				.list_icon i,
				.list_icon li {
					position: relative;
					display: inline-block;
					float: left;
				}

				.list_icon li {
					width: 100% !important;
				}

				.list_icon i {
					font-size: 11px;
					opacity: 0.6;
					line-height: 53px;
					display: inline-block;
					z-index: 999;
					position: relative;
					padding: 0px 0px 0px 10px;
					margin: 0px 0px 0px -30px;
				}
				/**/
			</style>
			<ul class="hk_categories_list parent_list list_icon">
				@RenderLink(nextItem)
			</ul>
		</div>
		}
	}


@{
	var serviceItem = Umbraco.TypedContent(1099).Children()
						.FirstOrDefault(x => x.IsVisible() && x.Name.Contains("Service") && Umbraco.MemberHasAccess(x.Path));

	if (serviceItem != null)
	{
		<div class="hk_service-items" style="min-height: 84px;">
			<style>
				.list_icon i,
				.list_icon li {
					position: relative;
					display: inline-block;
					float: left;
				}

				.list_icon li {
					width: 100% !important;
				}

				.list_icon i {
					font-size: 11px;
					opacity: 0.6;
					line-height: 53px;
					display: inline-block;
					z-index: 999;
					position: relative;
					padding: 0px 0px 0px 10px;
					margin: 0px 0px 0px -30px;
				}
				/**/
			</style>
			<ul class="hk_categories_list parent_list list_icon">
				@RenderLink(serviceItem)
			</ul>
		</div>
		}
	}

    @{
        var furniturecontent = Umbraco.TypedContent(5636);
        var furniture = furniturecontent == null ? null : Umbraco.TypedContent(5636).Children()
                                                            .Where(x => x.IsVisible());
        if (furniture != null)
        {
            <div class="hk_featured_cat hk_landingspage_cat">
                <h3 class="h3living"><a href="/collections/furniture/">Furniture</a></h3>
                <ul class="hk_categories_list parent_list">
                    @foreach (var item in furniture)
                {
                        @RenderLink(item)
                    }
                </ul>
            </div>
        }
    }
    @{
        var accessoriescontent = Umbraco.TypedContent(19026);
        var accessories = accessoriescontent == null ? null : Umbraco.TypedContent(19026).Children()
                                                            .Where(x => x.IsVisible());
        if (accessories != null)
        {
            <div class="hk_featured_cat hk_landingspage_cat">
                <h3 class="h3living"><a href="/collections/accessories/">Accessories</a></h3>
                <ul class="hk_categories_list parent_list">
                    @foreach (var item in accessories)
                {
                        @RenderLink(item)
                    }
                </ul>
            </div>
        }
    }
    @{
        var lightingcontent = Umbraco.TypedContent(19037);
        var lighting = lightingcontent == null ? null : Umbraco.TypedContent(19037).Children()
                                                            .Where(x => x.IsVisible());
        if (lighting != null)
        {
            <div class="hk_featured_cat hk_landingspage_cat">
                <h3 class="h3living"><a href="/collections/lighting/">Lighting</a></h3>
                <ul class="hk_categories_list parent_list">
                    @foreach (var item in lighting)
                {
                        @RenderLink(item)
                    }
                </ul>
            </div>
        }
    }
    
    
    @{
        var textilecontent = Umbraco.TypedContent(19041);
        var textile = textilecontent == null ? null : Umbraco.TypedContent(19041).Children()
                                                            .Where(x => x.IsVisible());
        if (textile != null)
        {
            <div class="hk_featured_cat hk_landingspage_cat">
                <h3 class="h3living"><a href="/collections/textile/">Textile</a></h3>
                <ul class="hk_categories_list parent_list">
                    @foreach (var item in textile)
                {
                        @RenderLink(item)
                    }
                </ul>
            </div>
        }
    }
    
    @{
        var diningcontent = Umbraco.TypedContent(5637);
        var dining = diningcontent == null ? null : Umbraco.TypedContent(5637).Children()
                                                            .Where(x => x.IsVisible());
        if (dining != null)
        {
            <div class="hk_featured_cat hk_landingspage_cat">
                <h3 class="h3living"><a href="/collections/kitchen/">Kitchen</a></h3>
                <ul class="hk_categories_list parent_list">
                    @foreach (var item in dining)
                {
                        @RenderLink(item)
                    }
                </ul>
            </div>
        }
    }
    @{
        var lifestylecontent = Umbraco.TypedContent(5639);
        var lifestyle = lifestylecontent == null ? null : Umbraco.TypedContent(5639).Children()
                                                            .Where(x => x.IsVisible());
        if (lifestyle != null)
        {
            <div class="hk_featured_cat hk_landingspage_cat">
                <h3 class="h3living"><a href="/collections/lifestyle/">Lifestyle</a></h3>
                <ul class="hk_categories_list parent_list">
                    @foreach (var item in lifestyle)
                {
                        @RenderLink(item)
                    }
                </ul>
            </div>
        }
    }
	<div class="hk_featured_cat">

		@if (featured.Count() > 0)
		{
			<h3>Featured Categories</h3>
			<ul class="hk_categories_list parent_list">
				@foreach (var item in featured)
				{
					@RenderLink(item)
				}
			</ul>
		}
	</div>



	@*@helper RenderLink(IPublishedContent item, String className = "cat-link")
		{

			var countChildren = item.Children("ftCategory").Where(x => x.IsVisible()).Count();
			var active = item.IsAncestorOrSelf(Model.Content);
			string toggle = countChildren > 0 ? "collapse" : "";

		<li>

			<a class="@className @(active ? "active" : "collapsed")" href="@item.Url" data-toggle="@toggle" data-target="#submenu-@item.Name.Replace( " ", "")">@item.Name</a>

					@if (countChildren > 0)
					{
						<i class="fa @(active ? "fa-minus" : "fa-plus") " style="opacity:0.25; font-size:9px; float:right; margin: -17px 0px 0px 0px; z-index:998;position: relative;"></i>
							<ul class="hk_categories_list collapse@(active ? " show" : "")" id="submenu-@item.Name.Replace( " ", "")">
						@foreach( var subitem in item.Children("ftCategory").Where(x => x.IsVisible())) {
							@RenderLink(subitem)

						}
					</ul>
				}

			</li>
		}*@

	@helper RenderLink(IPublishedContent item, String className = "cat-link")
		{
			var countChildren = item.Children("ftCategory").Where(x => x.IsVisible()).Count();
			var active = item.IsAncestorOrSelf(Model.Content);
			string toggle = countChildren > 0 ? "collapse" : "";
			string collapsable = countChildren > 0 ? " collapsable" : "";
			<li>
				<a class="@className @(active ? "active" : "collapsed")@collapsable" href="@item.Url">@item.Name</a>
				@if (countChildren > 0)
				{
					<i class="fa @(active ? "fa-minus" : "fa-plus") " style="opacity:0.25; font-size:9px; float:right; margin: -17px 0px 0px 0px; z-index:998;position: relative;"></i>
					<ul class="hk_categories_list collapse@(active ? " show" : "")">
						@foreach (var subitem in item.Children("ftCategory").Where(x => x.IsVisible()))
						{
							@RenderLink(subitem)

						}
					</ul>
				}
			</li>
}


